V1_Legacy/data_sample/data_source_3_rufus_Intelligence/03_rufus_Interrogation/Day 2_ Part 3 - Amazon Rufus Interrogation.json
{
  "name": "Day 2: Part 3 - Amazon Rufus Interrogation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Submit Rufus Information",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Part 1 - Rufus Text",
              "placeholder": "Copy and Paste all rufus text responses and questions"
            },
            {
              "fieldLabel": "Part 1 - Ask Rufus Screenshot",
              "fieldType": "file"
            },
            {
              "fieldLabel": "Part 1 - Rufus Full Response TXT",
              "fieldType": "file",
              "acceptFileTypes": "txt"
            },
            {
              "fieldLabel": "Part 2 - Rufus specific info",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -832,
        624
      ],
      "id": "d9556a68-1a4c-44d3-97f8-7b72a7caf2ae",
      "name": "📝 Get Rufus Information",
      "webhookId": "f7f8e46f-c5a2-4054-847b-b1582c175014"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "part1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "83d8488b-409a-4e1d-9026-b715fefd0c5e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "part1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c2c756a2-193d-45ce-87d8-9d7c60df92af",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "part2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "part2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -416,
        624
      ],
      "id": "220227c3-de5b-4aa2-8e3d-91fa44d180db",
      "name": "Route to Part 1 or Part 2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "edcce7f0-2a8a-4290-8c8c-d77b06cb137c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dd99eb79-b6f1-40f5-af45-41e83495444b",
                    "leftValue": "={{ $json.data_type }}",
                    "rightValue": "screenshots",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "screenshots"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -112,
        544
      ],
      "id": "1ef07233-a045-498d-a22a-43b2c42839a6",
      "name": "Route Part1 by Data Type"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        304,
        448
      ],
      "id": "53f25ed1-665d-402f-895f-c124f1d96a69",
      "name": "Combine Part1 Texts"
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// PATH 1: MERGE PART1 TEXTS (CRASH PROOF VERSION)\n// Combines direct_text and txt_file into one clean output\n// Calculates word counts internally to prevent errors\n// ==========================================\n\nconst item = $input.item;\nconst items = item.json.data || []; // Safely get the array, default to empty if missing\n\n// Helper function to safely count words\nfunction countWords(str) {\n  return str ? str.trim().split(/\\s+/).length : 0;\n}\n\n// Collect all text contents\nconst textSources = items.map((textItem) => {\n  // Safe extraction of content\n  const content = textItem.content || \"\";\n  \n  return {\n    source: textItem.source || \"unknown_source\",\n    content: content,\n    // We calculate these NOW so we don't rely on previous nodes\n    word_count: countWords(content),\n    character_count: content.length\n  };\n});\n\n// Combine all texts with source labels\nconst combinedText = textSources.map(s => {\n  return `--- Source: ${s.source.toUpperCase()} ---\\n${s.content}`;\n}).join('\\n\\n');\n\n// Calculate totals\nconst totalWords = textSources.reduce((sum, s) => sum + s.word_count, 0);\nconst totalChars = textSources.reduce((sum, s) => sum + s.character_count, 0);\n\n// Safe metadata extraction (check if the first item exists)\nconst meta = items.length > 0 && items[0].metadata ? items[0].metadata : {};\n\nreturn {\n  json: {\n    path: \"part1_text\",\n    route: \"part1\",\n    step: \"ask_rufus\",\n    data_type: \"text\",\n    \n    // Combined content\n    final_text: combinedText,\n    \n    // Source tracking\n    text_sources: textSources.map(s => s.source),\n    source_count: textSources.length,\n    \n    // Statistics\n    total_words: totalWords,\n    total_characters: totalChars,\n    \n    // Metadata (Safe fallback)\n    metadata: {\n      submittedAt: meta.submittedAt || new Date().toISOString(),\n      formMode: meta.formMode || \"test\",\n      processing_complete: true,\n      ready_for_ai: true\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        448
      ],
      "id": "f0e495a0-8719-4883-94c9-8de734618fab",
      "name": "Part1 Text Complete"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "=You are an expert OCR system for Amazon Rufus Q&A screenshots.\n\n\nExtract ALL visible text from this screenshot including:\n- Customer questions\n- Rufus answers and responses\n- Product names and details\n- Any text visible in product images\n- UI elements and labels\n\nFormat your output clearly:\n\n**Customer Question:** [exact question text]\n\n**Rufus Answer:** [exact answer text]\n\nIf there are multiple Q&A pairs, extract all of them in sequence.\n\nOutput ONLY the extracted text. Do not add commentary, explanations, or interpretations. Just transcribe exactly what you see.",
        "inputType": "binary",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        192,
        672
      ],
      "id": "65ab8265-31ae-4437-86a8-a6f8055ca5c0",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "E2LZQZrwghgnvHgq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =========================================================\n// RUFUS UNIVERSAL SPLITTER & CLEANER\n// Fixes: Spaces in filenames, Binary mapping for Gemini\n// =========================================================\n\nconst outputs = [];\nconst item = $input.item;\nconst json = item.json;\nconst binary = item.binary || {};\n\n// --- Helper: Normalize strings for easy matching ---\n// Removes special chars, spaces, and underscores to compare \"photo 1\" equal to \"photo_1\"\nfunction normalize(str) {\n  return str ? str.toLowerCase().replace(/[^a-z0-9]/g, '') : '';\n}\n\n// --- 1. HANDLE TEXT (Direct Input) ---\n// Loop through JSON keys to find direct text inputs\nfor (const key of Object.keys(json)) {\n  const normKey = normalize(key);\n  \n  // Look for text fields (Part 1 Text)\n  if (normKey.includes(\"part1\") && normKey.includes(\"text\") && typeof json[key] === 'string') {\n    if (json[key].trim()) {\n      outputs.push({\n        json: {\n          route: \"part1\",\n          data_type: \"text\",\n          source: \"direct_input\",\n          content: json[key]\n        }\n      });\n    }\n  }\n}\n\n// --- 2. HANDLE BINARY FILES (Screenshots & TXT) ---\n// We loop through ALL binary keys directly. No guessing names.\nfor (const key of Object.keys(binary)) {\n  const fileData = binary[key];\n  const normKey = normalize(key);\n  const mimeType = fileData.mimeType || \"\";\n  const fileName = fileData.fileName || \"unknown\";\n\n  // --> Identify Part 1 vs Part 2 based on the Field Name (Key)\n  let route = \"\";\n  if (normKey.includes(\"part1\") || normKey.includes(\"askrufus\")) route = \"part1\";\n  else if (normKey.includes(\"part2\") || normKey.includes(\"specificinfo\")) route = \"part2\";\n  \n  if (!route) continue; // Skip if it doesn't match our fields\n\n  // --> TYPE A: Text Files (.txt)\n  if (mimeType.includes(\"text\") || fileName.endsWith(\".txt\")) {\n    try {\n      // Convert binary to text immediately\n      const fileBuffer = await this.helpers.getBinaryDataBuffer(0, key);\n      const textContent = fileBuffer.toString('utf8');\n      \n      outputs.push({\n        json: {\n          route: route,\n          data_type: \"text\",\n          source: \"txt_file\",\n          filename: fileName,\n          content: textContent\n        }\n      });\n    } catch (e) {\n      // Ignore read errors\n    }\n  }\n  \n  // --> TYPE B: Images (PNG/JPG) - PREPARE FOR GEMINI\n  else if (mimeType.includes(\"image\")) {\n    outputs.push({\n      json: {\n        route: route, // \"part1\" or \"part2\"\n        data_type: \"screenshots\", // Used by your Switch node\n        source: \"screenshot\",\n        filename: fileName\n      },\n      binary: {\n        // CRITICAL FIX: We put the image into the default 'data' property\n        // This is exactly where Gemini/AI nodes look for it.\n        data: fileData \n      }\n    });\n  }\n}\n\nreturn outputs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        640
      ],
      "id": "b2f956f4-a5d2-4685-8678-f8533b801777",
      "name": "Split Part 1 & Part 2 - G"
    },
    {
      "parameters": {
        "content": "# \nWelcome! Hi, I'm Rufus, your shopping assistant. My answers are powered by AI, so I may not always get things right. Learn more Customer question Can it be used for hot drinks? Yes, the Renaissance Gift Ideas Beer Mug is designed for both hot and cold drinks. It features a stainless steel interior that keeps beverages at the ideal temperature, making it perfect for hot coffee or cold ales and IPAs.  Customers mention using it for both purposes—morning coffee and afternoon beers—and appreciate the versatility.  Customer question How long does it keep drinks hot? The Renaissance Gift Ideas Beer Mug features a stainless steel interior that keeps beverages at the ideal temperature, but the product details don't specify an exact duration for how long drinks stay hot.  However, customers mention it works well for both hot coffee and cold drinks thanks to the insulated stainless steel design. For precise insulation duration, you may want to contact the manufacturer directly.  Would you like to know about care instructions or other features?  Customer question Does it have a medieval design? Yes! The Renaissance Gift Ideas Beer Mug features a medieval design with barbarian and Viking inspiration. It has iron-like bands and rivets that mirror a classic wooden barrel design, giving it authentic Renaissance tavern aesthetics.  Customers say it looks great for D&D nights, Renaissance fairs, and themed parties—the details feel realistic and add genuine historical charm to the piece."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1120,
        288
      ],
      "id": "75c60f4b-7f62-4d60-96d7-89caa23f948d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// PATH 1: MERGE SCREENSHOT ANALYSIS\n// Combines multiple Gemini OCR outputs into one clean string\n// ==========================================\n\n// Variable to store merged text\nlet fullText = \"\";\nlet validScreenshots = 0;\n\n// Loop through all input items (each item is one screenshot analysis)\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  \n  // 1. Robustly find the text output from Gemini\n  // Based on your JSON, it is located in 'content.parts[0].text'\n  let text = \"\";\n  \n  if (item.content && item.content.parts && item.content.parts[0]) {\n    text = item.content.parts[0].text;\n  } else if (item.text) {\n    // Fallback for different Gemini node versions\n    text = item.text;\n  } else if (item.output) {\n    // Fallback for generic AI nodes\n    text = item.output;\n  }\n\n  // 2. Append if text was found\n  if (text) {\n    validScreenshots++;\n    fullText += `--- [Screenshot ${i + 1} Analysis] ---\\n${text}\\n\\n`;\n  }\n}\n\n// 3. Calculate Stats\nconst wordCount = fullText ? fullText.trim().split(/\\s+/).length : 0;\n\n// 4. Return formatted object ready for final merge\nreturn {\n  json: {\n    path: \"part1_screenshots\", // Different path name to avoid collision with text\n    route: \"part1\",\n    step: \"ask_rufus_ocr\",\n    data_type: \"screenshots_analysis\",\n    \n    // The main payload\n    final_text: fullText.trim(),\n    \n    // Stats\n    screenshot_count: validScreenshots,\n    word_count: wordCount,\n    \n    // Metadata\n    metadata: {\n      processed_at: new Date().toISOString(),\n      ready_for_merge: true\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        688
      ],
      "id": "48be1adc-b37d-4f80-b59a-f556f986a5e8",
      "name": "Part1 Screenshot Complete"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "=You are an expert OCR system for Amazon Rufus specific information screenshots.\n\n\nExtract ALL visible text from this screenshot including:\n- Customer questions\n- Rufus answers and responses\n- Product names and details\n- Any text visible in product images\n- UI elements and labels\n\nFormat your output clearly:\n\n**Customer Question:** [exact question text]\n\n**Rufus Answer:** [exact answer text]\n\nIf there are multiple Q&A pairs, extract all of them in sequence.\n\nOutput ONLY the extracted text. Do not add commentary, explanations, or interpretations. Just transcribe exactly what you see.",
        "inputType": "binary",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        16,
        928
      ],
      "id": "d195a9db-6d1c-4964-a974-e8270cd92164",
      "name": "Analyze Part2 Screenshot",
      "credentials": {
        "googlePalmApi": {
          "id": "E2LZQZrwghgnvHgq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// PATH 2: MERGE TAGS & CONTENT (FULL VERSION)\n// Keeps ALL text context + Extracts Tags\n// ==========================================\n\nlet fullText = \"\";\nlet allTags = new Set(); \n\n// Loop through all items (Gemini results)\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  \n  // 1. Get the text output safely\n  let text = \"\";\n  if (item.content && item.content.parts && item.content.parts[0]) {\n    text = item.content.parts[0].text;\n  } else if (item.text) {\n    text = item.text;\n  } else if (item.output) {\n    text = item.output;\n  }\n\n  // 2. Append to Full Text (This preserves the \"Text Body\")\n  if (text) {\n    fullText += `--- [Specific Info ${i + 1}] ---\\n${text.trim()}\\n\\n`;\n\n    // 3. Extract Tags (Heuristic: Short phrases are likely tags)\n    // Remove markdown\n    const cleanText = text.replace(/```json/g, '').replace(/```/g, '').trim();\n    \n    // Split by lines or commas to find potential tags\n    const lines = cleanText.split(/,|\\n/);\n    \n    lines.forEach(line => {\n      const cleanLine = line.trim();\n      // Filter: Keep it if it's not empty, not too long (likely a tag), and not a sentence\n      if (cleanLine && cleanLine.length < 40 && !cleanLine.endsWith('.')) {\n        allTags.add(cleanLine);\n      }\n    });\n  }\n}\n\n// Convert Set back to Array\nconst uniqueTags = Array.from(allTags);\nconst wordCount = fullText ? fullText.trim().split(/\\s+/).length : 0;\n\nreturn {\n  json: {\n    path: \"part2_tags\",\n    route: \"part2\",\n    step: \"specific_info_tags\",\n    data_type: \"tags_analysis\",\n    \n    // ✅ NEW: The Full Text Body is now saved here!\n    final_text: fullText.trim(),\n    \n    // The Tags (Cleaned up)\n    amazon_tags: uniqueTags,\n    \n    // Stats\n    tag_count: uniqueTags.length,\n    word_count: wordCount,\n    \n    // Metadata\n    metadata: {\n      processed_at: new Date().toISOString(),\n      ready_for_merge: true\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        1040
      ],
      "id": "9d9c1d4e-4fc0-4046-a38d-ab68ed42b683",
      "name": "Part2 Complete"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        528
      ],
      "id": "585bf532-7baa-4f2d-b205-a9963e56df9b",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// CONSOLIDATE PART 1\n// Stitches Text + Screenshot Context into one big string\n// ==========================================\n\nlet combinedContext = \"\";\nlet totalWords = 0;\n\n// Loop through the items (Item 1: Text, Item 2: Screenshots)\nfor (const item of items) {\n  if (item.json.final_text) {\n     // Add a header based on the data type\n     const type = item.json.data_type === 'text' ? \"TEXT & FILES\" : \"SCREENSHOTS OCR\";\n     \n     combinedContext += `\\n\\n=== PART 1 SECTION: ${type} ===\\n`;\n     combinedContext += item.json.final_text;\n     \n     // Sum up words if available\n     if (item.json.total_words) totalWords += item.json.total_words;\n     if (item.json.word_count) totalWords += item.json.word_count;\n  }\n}\n\nreturn {\n  json: {\n    source: \"part1_complete\",\n    // This is the variable your Interrogator AI will read\n    part1_full_context: combinedContext.trim(),\n    \n    // Total stats\n    total_word_count: totalWords,\n    \n    metadata: {\n      ready_for_final_merge: true\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        528
      ],
      "id": "f24bdff3-11e9-4674-919b-b8732d1c0b62",
      "name": "Consolidate Part 1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=**Role:** You are a Hostile Algorithm Auditor.\nYour job is NOT to be helpful. Your job is to audit \"Ask Rufus\" data below to find logic gaps, vague answers, and potential risks.\n\n**Input Data (Part 1 - Ask Rufus Context):**\n\"\"\"\n{{ $json.part1_full_context }}\n\"\"\"\n\n**Task:**\nAnalyze the input above and generate 3-4 \"Trap Questions\" to stress-test Rufus.\n\n**Focus Areas (The Trap Logic):**\n1. **Ambiguity Trap:**\n   * *Look for:* Rufus gave a vague \"Yes\" (e.g., \"It works well\") without technical proof.\n   * *Trap:* Ask for specific metrics. (e.g., \"You said it keeps drinks hot, but exactly how many degrees does it lose per hour?\")\n2. **Contradiction Trap:**\n   * *Look for:* Conflicts between User Reviews (in Part 1) and Official Tags (in Part 2).\n   * *Trap:* Point out the conflict. (e.g., \"Users say the handle is loose, but tags say 'Sturdy'. Which is it?\")\n3. **Boundary Trap:**\n   * *Look for:* Use cases that are on the edge of safety/capability.\n   * *Trap:* Ask about extreme conditions. (e.g., \"Is it safe to pour boiling water directly into it after taking it out of a freezer?\")\n\n**Output Format (JSON Only):**\n{\n  \"auditor_report\": {\n    \"weakness_found\": \"Rufus is too vague about [Topic].\",\n    \"trap_questions\": [\n      {\n        \"type\": \"Ambiguity Trap\",\n        \"question\": \"...\",\n        \"reasoning\": \"Rufus claimed X but didn't provide specific Y.\"\n      }\n    ]\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        288
      ],
      "id": "1729b152-a35e-48fc-b633-be00cafc171b",
      "name": "Part1 Auditor - 2.5Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "E2LZQZrwghgnvHgq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// DECODER: FORMAT QUESTIONS FOR HUMAN\n// Turns AI JSON into a clean copy-paste list\n// ==========================================\n\nconst response = items[0].json.content.parts[0].text;\n// Remove Markdown code blocks\nconst cleanJson = response.replace(/```json/g, '').replace(/```/g, '').trim();\nconst data = JSON.parse(cleanJson);\n\nconst questions = data.auditor_report.trap_questions;\nlet formattedOutput = \"=== 📋 COPY THESE QUESTIONS TO ASK RUFUS ===\\n\\n\";\n\nquestions.forEach((q, index) => {\n  formattedOutput += `QUESTION ${index + 1} (${q.type}):\\n`;\n  formattedOutput += `${q.question}\\n\\n`;\n});\n\nreturn {\n  json: {\n    human_readable_list: formattedOutput,\n    raw_questions: questions\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        288
      ],
      "id": "a39f48bf-12c6-4c0f-8060-f2766bd03b4f",
      "name": "Decode Auditor Question"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=**Role:** You are a Senior Product Insight Analyst.\nYour goal is to analyze the \"Ask Rufus\" conversation below to uncover the **Customer's Hidden Desires** and **Deepest Fears**.\nWe don't just want specs; we want to know the \"Dream Scenario\" the user is picturing.\n\n**Input Data (User Questions & Rufus Context):**\n\"\"\"\n{{ $json.part1_full_context }}\n\"\"\"\n\n**Task:**\nAnalyze the user's questions and generate 3 \"Validation Questions\" that confirm if this product is truly their \"Dream Product\".\n\n**Focus Areas (The Insight Logic):**\n1.  **The \"Dream\" Scenario:**\n    * *Insight:* Look for keywords like \"Party\", \"Travel\", \"Gift\", \"Reenactment\". What is the *movie scene* in their head?\n    * *Validation:* Ask if the product lives up to that scene. (e.g., \"Is the finish realistic enough for a 4K close-up photo?\")\n2.  **The \"Nightmare\" (Fear):**\n    * *Insight:* Look for worries about \"Leaking\", \"Breaking\", \"Peeling\".\n    * *Validation:* Ask a question that proves your product *solves* this fear. (e.g., \"Is the handle reinforced with a steel core to prevent snapping?\")\n3.  **The \"Hero\" Usage:**\n    * *Insight:* Is this for themselves or to impress others?\n    * *Validation:* Ask about the \"Unboxing Experience\" or \"Premium Feel\".\n\n**Output Format (JSON Only):**\n{\n  \"product_insight\": {\n    \"customer_profile\": \"The user is likely a [Persona] looking for [Benefit].\",\n    \"key_desire\": \"They want the [Aesthetic] of wood but the [Function] of steel.\",\n    \"key_fear\": \"They are terrified of [Fear].\",\n    \"validation_questions\": [\n      {\n        \"type\": \"Dream Validation\",\n        \"question\": \"...\",\n        \"insight_origin\": \"User mentioned [Topic], implying they want [Experience].\"\n      }\n    ]\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        608
      ],
      "id": "7fd8079e-1896-4fc0-a3d4-67a9e35c49af",
      "name": "Part1 Analyst- 2.5Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "E2LZQZrwghgnvHgq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// DECODER: FORMAT ANALYST INSIGHTS\n// Turns Product Insight JSON into a Readable Report\n// ==========================================\n\n// 1. Get the text output from Gemini safely\nlet responseText = \"\";\nif (items[0].json.content && items[0].json.content.parts) {\n    responseText = items[0].json.content.parts[0].text;\n} else if (items[0].json.output) {\n    responseText = items[0].json.output;\n}\n\n// 2. Clean and Parse JSON\nconst cleanJson = responseText.replace(/```json/g, '').replace(/```/g, '').trim();\nlet data = {};\ntry {\n    data = JSON.parse(cleanJson);\n} catch (e) {\n    return { json: { error: \"Failed to parse JSON\", raw: responseText } };\n}\n\nconst insight = data.product_insight;\nlet formattedOutput = \"=== 💡 PRODUCT INSIGHT REPORT (THE DREAM) ===\\n\\n\";\n\n// 3. Build the Report\nformattedOutput += `👤 **Target Persona:** ${insight.customer_profile}\\n`;\nformattedOutput += `❤️ **Key Desire:** ${insight.key_desire}\\n`;\nformattedOutput += `😱 **Key Fear:** ${insight.key_fear}\\n\\n`;\nformattedOutput += \"--- 🛡️ VALIDATION QUESTIONS ---\\n\\n\";\n\nif (insight.validation_questions) {\n    insight.validation_questions.forEach((q, index) => {\n        formattedOutput += `QUESTION ${index + 1} (${q.type}):\\n`;\n        formattedOutput += `❓ **Ask Rufus:** \"${q.question}\"\\n`;\n        formattedOutput += `💡 **Why:** ${q.insight_origin}\\n\\n`;\n    });\n}\n\nreturn {\n  json: {\n    human_readable_report: formattedOutput,\n    raw_insight: insight\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        608
      ],
      "id": "2c030971-7076-4b97-87e2-f50b8c476a23",
      "name": "Decode Analyst"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=**Role:** You are a Hostile Data Auditor.\nYour job is to audit the \"Official Amazon Specific Info\" and \"Tags\" below to find logical inconsistencies, missing safety specs, or marketing fluff.\nYou do NOT trust the marketing. You want proof.\n\n**Input Data (Official Specific Info):**\n\"\"\"\n{{ $json.final_text }}\n\"\"\"\n\n**Input Data (Detected Tags):**\n\"\"\"\n{{ $json.amazon_tags }}\n\"\"\"\n\n**Task:**\nAnalyze the official info above and generate 3 \"Trap Questions\" that expose weaknesses in the product's official claims.\n\n**Focus Areas (The Trap Logic):**\n1.  **The \"Tag vs. Reality\" Trap:**\n    * *Look for:* A positive Tag (e.g., \"Durable\") vs. a warning in the text (e.g., \"Handle with care\").\n    * *Trap:* \"You tagged this as 'Durable', yet the text warns it breaks if dropped. Which is it?\"\n2.  **The \"Missing Spec\" Trap:**\n    * *Look for:* Generic claims (e.g., \"Stainless Steel\") without specific grades (e.g., \"304 Food Grade\").\n    * *Trap:* \"What SPECIFIC alloy of stainless steel is used? Is it 304 food-grade or cheaper 201?\"\n3.  **The \"Safety Silence\" Trap:**\n    * *Look for:* Warnings (e.g., \"Hand wash only\") without explaining the consequence.\n    * *Trap:* \"What exactly happens chemically or physically if I put this in the dishwasher? Does the glue melt?\"\n\n**Output Format (JSON Only):**\n{\n  \"auditor_report\": {\n    \"weakness_found\": \"Official info is vague about [Topic].\",\n    \"trap_questions\": [\n      {\n        \"type\": \"Missing Spec Trap\",\n        \"question\": \"...\",\n        \"reasoning\": \"Tags claim X but text fails to prove it.\"\n      }\n    ]\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1008,
        912
      ],
      "id": "c009472c-10c9-4e8f-9c68-aeefd968d48b",
      "name": "Part2 Auditor - 2.5Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "E2LZQZrwghgnvHgq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// DECODER: FORMAT PART 2 AUDIT QUESTIONS\n// Turns Official Info Traps into a List\n// ==========================================\n\n// 1. Get Gemini Response\nlet responseText = \"\";\nif (items[0].json.content && items[0].json.content.parts) {\n    responseText = items[0].json.content.parts[0].text;\n} else if (items[0].json.output) {\n    responseText = items[0].json.output;\n}\n\n// 2. Parse JSON\nconst cleanJson = responseText.replace(/```json/g, '').replace(/```/g, '').trim();\nlet data = {};\ntry {\n    data = JSON.parse(cleanJson);\n} catch (e) {\n    return { json: { error: \"JSON Parse Error\", raw: responseText } };\n}\n\nconst questions = data.auditor_report.trap_questions;\nlet formattedOutput = \"=== 📋 PART 2 TRAP QUESTIONS (ATTACKING OFFICIAL INFO) ===\\n\\n\";\n\nquestions.forEach((q, index) => {\n  formattedOutput += `QUESTION ${index + 1} (${q.type}):\\n`;\n  formattedOutput += `${q.question}\\n\\n`;\n});\n\nreturn {\n  json: {\n    human_readable_list: formattedOutput,\n    raw_questions: questions\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        912
      ],
      "id": "b2c1527a-0dbf-4a66-9b0c-33d323fa9e23",
      "name": "Decode Part2 Audit"
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// DECODER: FORMAT PART 2 MARKETING INSIGHTS\n// Turns Official Marketing Promises into a Report\n// ==========================================\n\n// 1. Get Gemini Response\nlet responseText = \"\";\nif (items[0].json.content && items[0].json.content.parts) {\n    responseText = items[0].json.content.parts[0].text;\n} else if (items[0].json.output) {\n    responseText = items[0].json.output;\n}\n\n// 2. Parse JSON\nconst cleanJson = responseText.replace(/```json/g, '').replace(/```/g, '').trim();\nlet data = {};\ntry {\n    data = JSON.parse(cleanJson);\n} catch (e) {\n    return { json: { error: \"JSON Parse Error\", raw: responseText } };\n}\n\nconst insight = data.marketing_insight;\nlet formattedOutput = \"=== 🌟 PART 2 MARKETING INSIGHT (OFFICIAL PROMISE) ===\\n\\n\";\n\nformattedOutput += `🏷️ **Core Identity:** ${insight.core_identity}\\n`;\nformattedOutput += `🔥 **Key Selling Point:** ${insight.key_selling_point}\\n\\n`;\nformattedOutput += \"--- ✅ CONFIRMATION QUESTIONS ---\\n\\n\";\n\ninsight.confirmation_questions.forEach((q, index) => {\n  formattedOutput += `QUESTION ${index + 1} (${q.type}):\\n`;\n  formattedOutput += `❓ **Ask Rufus:** \"${q.question}\"\\n`;\n  formattedOutput += `💡 **Why:** ${q.insight_origin}\\n\\n`;\n});\n\nreturn {\n  json: {\n    human_readable_report: formattedOutput,\n    raw_insight: insight\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        1184
      ],
      "id": "3c0ec7ae-399f-482a-8895-d4e711cc014f",
      "name": "Decode Part2 Analyst"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=**Role:** You are a Senior Marketing Strategist.\nYour goal is to analyze the \"Official Amazon Specific Info\" and \"Tags\" below to understand the **\"Promised Experience\"**.\nIgnore the flaws for a moment. Focus on: How is Amazon selling this? What is the \"Hero Identity\" of this product?\n\n**Input Data (Official Specific Info):**\n\"\"\"\n{{ $json.final_text }}\n\"\"\"\n\n**Input Data (Detected Tags):**\n\"\"\"\n{{ $json.amazon_tags }}\n\"\"\"\n\n**Task:**\nAnalyze the marketing language and tags. Generate 3 \"Confirmation Questions\" to ensure the product actually delivers on these high-value promises.\n\n**Focus Areas (The Marketing Logic):**\n1.  **The \"Hero\" Tag:**\n    * *Insight:* What is the #1 most attractive tag? (e.g., \"Giftable\", \"Conversation Starter\").\n    * *Validation:* Ask if the physical product quality lives up to this label.\n2.  **The \"Versatility\" Promise:**\n    * *Insight:* Does it claim to be good for both \"Hot Coffee\" and \"Cold Beer\"?\n    * *Validation:* Ask about the performance limit of this versatility.\n3.  **The \"Aesthetic\" Vibe:**\n    * *Insight:* How does it describe the look? (e.g., \"Viking\", \"Retro\").\n    * *Validation:* Ask if the finish is realistic enough to pass as a prop.\n\n**Output Format (JSON Only):**\n{\n  \"marketing_insight\": {\n    \"core_identity\": \"Amazon positions this as a [Identity, e.g. Rugged Viking Mug] for [Target User].\",\n    \"key_selling_point\": \"The main hook is [Hook].\",\n    \"confirmation_questions\": [\n      {\n        \"type\": \"Hero Tag Validation\",\n        \"question\": \"...\",\n        \"insight_origin\": \"Tag says 'Giftable', so we must verify packaging quality.\"\n      }\n    ]\n  }\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1072,
        1200
      ],
      "id": "c1b48883-1f61-48f7-b01b-6d52fe38ddef",
      "name": "Part2 Analyst - 2.5Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "E2LZQZrwghgnvHgq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2112,
        512
      ],
      "id": "25d11277-e81b-4e51-9a4d-f084b99b6d07",
      "name": "Final Merge Part1"
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// INTELLIGENCE AGGREGATOR\n// Combines insights from Part 1 & Part 2 into one Master Object\n// Handles data from 'Append' merge strategy\n// ==========================================\n\n// Initialize containers\nlet p1_audit = {};\nlet p1_insight = {};\nlet p2_audit = {};\nlet p2_insight = {};\n\n// Loop through all incoming items (from the Append Merge)\nfor (const item of items) {\n  const json = item.json;\n  \n  // --- DETECT PART 1 DATA (User Context) ---\n  // Auditor: Look for P1 specific trap types or content\n  if (json.human_readable_list && (json.human_readable_list.includes(\"Ambiguity Trap\") || json.human_readable_list.includes(\"Contradiction Trap\"))) {\n     p1_audit = { weaknesses: json.raw_questions };\n  }\n  // Analyst: Look for \"Target Persona\" which is specific to P1\n  if (json.raw_insight && json.raw_insight.customer_profile) {\n     p1_insight = json.raw_insight;\n  }\n  \n  // --- DETECT PART 2 DATA (Official Specs) ---\n  // Auditor: Look for P2 specific trap types\n  if (json.human_readable_list && (json.human_readable_list.includes(\"Safety Silence\") || json.human_readable_list.includes(\"Missing Spec\"))) {\n     p2_audit = { specs_gaps: json.raw_questions };\n  }\n  // Analyst: Look for \"Core Identity\" which is specific to P2\n  if (json.raw_insight && json.raw_insight.core_identity) {\n     p2_insight = json.raw_insight;\n  }\n}\n\n// Construct the Master Intelligence Object\n// This maps all the disjointed insights into a strategic structure\nconst master_intelligence = {\n  // 1. Who are we selling to? (From P1 Analyst)\n  target_customer: {\n    persona: p1_insight.customer_profile || \"Unknown\",\n    desire: p1_insight.key_desire || \"Unknown\",\n    fear: p1_insight.key_fear || \"Unknown\"\n  },\n  \n  // 2. What is wrong with the competitor/Rufus? (From P1 & P2 Auditors)\n  product_risks: [\n    ...(p1_audit.weaknesses || []).map(q => `[User Complaint] ${q.reasoning}`),\n    ...(p2_audit.specs_gaps || []).map(q => `[Spec Defect] ${q.reasoning}`)\n  ],\n  \n  // 3. How does Amazon market this? (From P2 Analyst)\n  marketing_assets: {\n    identity: p2_insight.core_identity || \"Unknown\",\n    selling_point: p2_insight.key_selling_point || \"Unknown\"\n  },\n  \n  // 4. Archive of all trap questions for future testing\n  trap_questions_archive: {\n    p1_traps: p1_audit.weaknesses || [],\n    p2_traps: p2_audit.specs_gaps || []\n  }\n};\n\nreturn {\n  json: {\n    sku: \"CURRENT_TEST_SKU\", \n    timestamp: new Date().toISOString(),\n    intelligence: master_intelligence\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        784
      ],
      "id": "45846e0f-30f3-46a3-98d4-8f1f7b47485e",
      "name": "Aggregate All Intelligence"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2144,
        1056
      ],
      "id": "3998153c-5d17-4a32-8506-67e8eab4c342",
      "name": "Final Merge Part2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2416,
        784
      ],
      "id": "09d3b2fd-8285-4c7b-af8d-ae7be68ef5c0",
      "name": "Grand Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=**Role:** You are the Chief Product Strategist (CPO) & Creative Director.\nYou have received a raw intelligence report regarding a potential new Amazon product.\nYour job is to synthesize this data into a final **\"Product Attack Plan\"**.\n\n**Input Intelligence Data:**\n\"\"\"\n{{ JSON.stringify($json.intelligence) }}\n\"\"\"\n\n**Task:**\nWrite a strategic report for the CEO.\n\n**1. The \"Kill\" Decision (Quality Control):**\n   - Look at the `product_risks`. Are there any fatal flaws (e.g., safety, legal, impossible physics)?\n   - If yes, recommend KILL. If fixable, recommend FIX.\n\n**2. The \"Dream\" Listing Strategy (On-Amazon):**\n   - Combine `target_customer.desire` with `marketing_assets.identity`.\n   - Write a sample **Amazon Title** (max 199 chars) that hits the \"Desire\" while avoiding the \"Risks\".\n   - *Key Focus:* Use strong, emotional keywords derived from the Persona.\n\n**3. The \"Anti-Rufus\" Defense (Technical):**\n   - How do we preemptively answer the \"Risks\" in our bullet points so Rufus never doubts us?\n   - Example: If risk is \"Mold\", suggestion: \"Add bullet point about 'Seamless Uni-body Tech'.\"\n\n**4. The \"Creative War Room\" (Marketing Direction):**\n   *Since we lack keyword volume data, focus on **Psychographic Targeting** based on the `target_customer.persona`.*\n\n   - **A. Amazon PPC Strategy (Targeting Archetypes):**\n     - Who should we target? Don't just say \"Mug buyers\".\n     - Suggest 6 specific **Customer Avatars** or **Usage Occasions** to bid on (e.g., \"Dungeon Masters\", \"Groomsmen Gifts\", \"Ren Faire Attendees\").\n\n   - **B. Off-Amazon Topic Clusters (Content Marketing):**\n     - Based on `target_customer.desire` (e.g., Immersion), what content will attract them?\n     - Suggest 6 **Blog/Social Topics** that build the \"Dream Lifestyle\" (e.g., \"5 Tips for an Authentic Viking Wedding\").\n\n**Output Format (Markdown):**\nOutput a clean Markdown report starting with \"## 🚀 PRODUCT STRATEGY REPORT\"."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2944,
        784
      ],
      "id": "0ad9451a-28ef-4717-853e-0c08007dc081",
      "name": "Master Strategist 2.5 Pro (CPO)",
      "credentials": {
        "googlePalmApi": {
          "id": "E2LZQZrwghgnvHgq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// DECODER: FINAL STRATEGY REPORT\n// Extracts the clean Markdown text for easy reading\n// ==========================================\n\n// 1. Get the text output from Gemini safely\nlet responseText = \"\";\nif (items[0].json.content && items[0].json.content.parts) {\n    responseText = items[0].json.content.parts[0].text;\n} else if (items[0].json.output) {\n    responseText = items[0].json.output;\n}\n\n// 2. Clean up any extra JSON formatting/Markdown fences\n// (Gemini sometimes wraps the output in ```markdown ... ```)\nconst cleanReport = responseText\n    .replace(/^```markdown\\s*/i, '') // Remove starting ```markdown\n    .replace(/^```\\s*/i, '')         // Remove starting ```\n    .replace(/```$/i, '')            // Remove ending ```\n    .trim();\n\n// 3. Output as a single clean field\nreturn {\n  json: {\n    // This field will contain the formatted text\n    readable_strategy_report: cleanReport\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        784
      ],
      "id": "c86795ef-237b-45a6-b825-5ba642d0d831",
      "name": "Report Decoder"
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// REPORT GENERATOR: MARKDOWN TO HTML\n// Creates a downloadable file for the strategy\n// ==========================================\n\nconst markdown = items[0].json.readable_strategy_report || \"\";\n\n// 1. Simple Converter: Markdown -> HTML\nlet htmlContent = markdown\n    // Convert Headers\n    .replace(/^### (.*$)/gim, '<h3 style=\"color: #2c3e50; border-bottom: 1px solid #eee; padding-bottom: 5px;\">$1</h3>')\n    .replace(/^## (.*$)/gim, '<h2 style=\"color: #e67e22; margin-top: 30px;\">$1</h2>')\n    .replace(/^# (.*$)/gim, '<h1>$1</h1>')\n    // Convert Bold\n    .replace(/\\*\\*(.*?)\\*\\*/gim, '<strong>$1</strong>')\n    // Convert Blockquotes (Strategy Sections)\n    .replace(/^> (.*$)/gim, '<blockquote style=\"background: #f1f8ff; border-left: 5px solid #2980b9; padding: 10px; margin: 10px 0;\">$1</blockquote>')\n    // Convert Lists\n    .replace(/^\\* (.*$)/gim, '<li>$1</li>')\n    // Convert Newlines to Breaks\n    .replace(/\\n/gim, '<br>');\n\n// 2. Wrap in a professional template\nconst fullHtml = `\n<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<style>\n  body { \n    font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Helvetica, Arial, sans-serif; \n    line-height: 1.6; \n    color: #333; \n    max-width: 800px; \n    margin: 40px auto; \n    padding: 20px; \n    background-color: #f4f6f8;\n  }\n  .paper {\n    background: white;\n    padding: 40px;\n    box-shadow: 0 4px 6px rgba(0,0,0,0.1);\n    border-radius: 8px;\n  }\n  li { margin-bottom: 5px; }\n  strong { color: #2c3e50; }\n</style>\n</head>\n<body>\n  <div class=\"paper\">\n    ${htmlContent}\n  </div>\n</body>\n</html>\n`;\n\n// 3. Return as a Binary File (Downloadable)\nreturn {\n  json: {\n    status: \"Report Generated Successfully\"\n  },\n  binary: {\n    report_file: {\n      data: Buffer.from(fullHtml).toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'Rufus_Strategy_Report.html'\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        784
      ],
      "id": "a43957bc-4fbd-47bf-9ead-541aa636dfbc",
      "name": "Generate HTML Report"
    }
  ],
  "pinData": {},
  "connections": {
    "📝 Get Rufus Information": {
      "main": [
        [
          {
            "node": "Split Part 1 & Part 2 - G",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Part 1 or Part 2": {
      "main": [
        [
          {
            "node": "Route Part1 by Data Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze Part2 Screenshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Part1 by Data Type": {
      "main": [
        [
          {
            "node": "Combine Part1 Texts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Part1 Texts": {
      "main": [
        [
          {
            "node": "Part1 Text Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Part 1 & Part 2 - G": {
      "main": [
        [
          {
            "node": "Route to Part 1 or Part 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Part1 Screenshot Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Part2 Screenshot": {
      "main": [
        [
          {
            "node": "Part2 Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Part1 Text Complete": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Part1 Screenshot Complete": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Consolidate Part 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Part 1": {
      "main": [
        [
          {
            "node": "Part1 Auditor - 2.5Pro",
            "type": "main",
            "index": 0
          },
          {
            "node": "Part1 Analyst- 2.5Pro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Part1 Auditor - 2.5Pro": {
      "main": [
        [
          {
            "node": "Decode Auditor Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Part1 Analyst- 2.5Pro": {
      "main": [
        [
          {
            "node": "Decode Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Part2 Complete": {
      "main": [
        [
          {
            "node": "Part2 Auditor - 2.5Pro",
            "type": "main",
            "index": 0
          },
          {
            "node": "Part2 Analyst - 2.5Pro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Part2 Auditor - 2.5Pro": {
      "main": [
        [
          {
            "node": "Decode Part2 Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Part2 Analyst - 2.5Pro": {
      "main": [
        [
          {
            "node": "Decode Part2 Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Auditor Question": {
      "main": [
        [
          {
            "node": "Final Merge Part1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Analyst": {
      "main": [
        [
          {
            "node": "Final Merge Part1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Final Merge Part1": {
      "main": [
        [
          {
            "node": "Grand Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Part2 Audit": {
      "main": [
        [
          {
            "node": "Final Merge Part2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Part2 Analyst": {
      "main": [
        [
          {
            "node": "Final Merge Part2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Final Merge Part2": {
      "main": [
        [
          {
            "node": "Grand Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Grand Merge": {
      "main": [
        [
          {
            "node": "Aggregate All Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Intelligence": {
      "main": [
        [
          {
            "node": "Master Strategist 2.5 Pro (CPO)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Strategist 2.5 Pro (CPO)": {
      "main": [
        [
          {
            "node": "Report Decoder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report Decoder": {
      "main": [
        [
          {
            "node": "Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3700a20c-665f-476a-bd19-a4e4ca9badc9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ac8e33ad9a8ef496959f64b73684f5097d64b3b5f62665b5bb6f48dbe666b7a6"
  },
  "id": "9GtiG8xwZJsOBNbB",
  "tags": [
    {
      "updatedAt": "2025-12-17T05:25:01.685Z",
      "createdAt": "2025-12-17T05:25:01.685Z",
      "id": "4ZFBuH8wWFCIvu7j",
      "name": "GEO"
    },
    {
      "updatedAt": "2025-08-05T13:05:20.352Z",
      "createdAt": "2025-08-05T13:05:20.352Z",
      "id": "Sfl4s3iYJcZkbmGG",
      "name": "amazon"
    },
    {
      "updatedAt": "2025-11-25T16:39:02.234Z",
      "createdAt": "2025-11-25T16:39:02.234Z",
      "id": "7itmlNmG4bAG5VX1",
      "name": "reviews"
    },
    {
      "name": "rufus",
      "id": "anK7EwSpmVeQZLZt",
      "updatedAt": "2025-12-28T06:53:54.407Z",
      "createdAt": "2025-12-28T06:53:54.407Z"
    }
  ]
}